* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* General Styles */
body {
  background-color: #0a0a0a;
  color: white;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  text-align: center;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: large;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-link {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #888;
}

/* Social Icons */
.social-icons {
  display: flex;
  gap: 10px;
}

.social-icon {
  width: 50px;
  transition: transform 0.3s;
}

.social-icon:hover {
  transform: scale(1.1);
}
.contact-section {
  display: flex;
  background: #5f596a;
  margin: 2rem auto;
  padding: 2rem;
  max-width: 90%;
  justify-content: space-between;
  border-radius: 6px;
}

.contact-left {
  width: 40%;
}

.contact-left h2 {
  margin-bottom: 0.5rem;
}

.contact-left p {
  margin-bottom: 1rem;
}

.line {
  width: 80%;
  height: 2px;
  background: white;
  margin: 1rem 0;
}

.contact-icons img {
  width: 30px;
  margin-right: 10px;
}

.contact-right {
  width: 55%;
}

form {
  display: flex;
  flex-direction: column;
}

form input,
form textarea {
  margin-bottom: 1rem;
  padding: 0.8rem;
  border: none;
  border-radius: 3px;
}

textarea {
  height: 100px;
}

.checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  font-size: 0.85rem;
}

button {
  padding: 0.6rem 1.5rem;
  border: 1px solid white;
  background: none;
  color: white;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background: white;
  color: black;
}

.footer {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid white;
  padding: 2rem;
  font-size: 0.9rem;
}

.footer-left,
.footer-middle,
.footer-right {
  width: 30%;
}

.footer-left button {
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  border: 1px solid white;
  background: transparent;
  color: white;
  cursor: pointer;
}

.footer-icons img {
  width: 25px;
  margin-right: 10px;
}

.footer-right a {
  display: block;
  margin-bottom: 0.5rem;
  color: white;
  text-decoration: none;
}
